<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>App</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        select {
            padding: 10px;
            font-size: 16px;
            border-radius: 5px;
        }

        button {
            margin-top: 10px;
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
        }

        h1 {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    {{latitude}}
    <form method="POST" action="/planifier">
        <h1>Choisir intervention</h1>
        <input type="hidden" name="interventions" value="{{interventionsJSON}}">
        <input type="hidden" name="latitude" value="">
        <input type="hidden" name="longitude" value="">
        <input type="hidden" name="nom" value="">
   

        <select name="interventionId"  onchange="handleSelectChange()">
            {{#each interventions}}
            <option value="{{@index}}">{{this.nom}}</option>
            {{/each}}
        </select>
        <button type="submit">Planifier</button>
    </form>
        <script>
            function handleSelectChange() {
                 const selectElement = document.querySelector('select[name="interventionId"]');
                const selectedOption = selectElement.options[selectElement.selectedIndex];
                const interventionId = selectedOption.value;

                // Log the selected interventionId
           
                let interventions = document.querySelector('input[name="interventions"]').value;
            
                 interventions = JSON.parse(interventions);
            
                const intervention= interventions[interventionId]
            
                //retriveing values fron intervention
                const {latitude,longitude,nom} = intervention;
        
                //linking to input hidden
                const selectedIndex = selectElement.selectedIndex;
                const latitudeInput = document.querySelector('input[name="latitude"]');
                const longitudeInput = document.querySelector('input[name="longitude"]');
                const nomInput = document.querySelector('input[name="nom"]');
                // setting value on input hidden
                latitudeInput.value = latitude;
                longitudeInput.value =longitude;
                nomInput.value = nom ;
            }
        </script>
</body>

</html>